<?xml version="1.0" encoding="utf-8"?>
<manifest package="ca.blogspot.johnchenprogramming.ui.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:name="ca.blogspot.johnchenprogramming.whoami.WhoAmIApplication"
        >

    </application>
</manifest>
